profiles:
  group:
    test:
      - dev
      - local
      - sample
      - h2
      - base-test
      - azure-vault

---

server:
  port: 8092

#Admin configuration
info:
  name: @app.id@
  description: @app.id@
  version: @pom.version@
  stage: local


spring:
  application:
    id: @app.id@
    name: @app.id@
  cloud:
    config:
      import-check:
        enabled: false
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
  #  jpa:
#    database-platform: org.hibernate.dialect.PostgreSQLDialect
#  datasource:
#    url: ${datasource.url}
#    username: ${datasource.username}
#    password: ${datasource.password}
#    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:config/db/db.changelog-master.xml
  profiles.active: dev
  boot:
    admin:
      client:
        url: ${boot.admin.client.url}
        username: ${boot.admin.client.username}
        password: ${boot.admin.client.password}
        instance:
          metadata:
            enable-oauth2: true



easyms:
  secured:
    azuread :
      rolesToRoles:
        SWAGGER:
          - ADMIN_CLIENT
          - SUPER_ADMIN_CLIENT
      rolesToAuthorities:
        ADMIN_CLIENT:
          - PERM_MODIFY_CLIENT
          - PERM_READ_CLIENT
        BusinessManager:
          - PERM_MODIFY_CLIENT
          - PERM_READ_CLIENT
        SUPER_ADMIN_CLIENT:
          - PERM_MODIFY_CLIENT
          - PERM_READ_CLIENT
          - PERM_DELETE_CLIENT
        API-READ:
          - PERM_READ_CLIENT
  azure:
    internalToken:
      enabled: true
#      pubKeyPath: "classpath:jwtbearer-test.pub"
      pubKeyValue: |
              -----BEGIN PUBLIC KEY-----
              MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsMQpRL3fm1I80BgrUZxX
              LlVuJoaI24eur9qWGnxsfjRwtoomQKjZEfbz9NBGURCTejWS4nRrIXF3YPdz9JU8
              3HpFMOpDtrcGvMR8IIRpiqq9rHlllnI0FIX55/o8N1Er4bYMF8s7hwJZ2/lybsWs
              VrAOU76Pz1vUq5/iD8ildZ37voSEUeCUXJOQw5dGYuZ92D1fcxyhjJYnknH9GkHS
              SwKd1KU6Kl9w4gBOrHgMbnQxypUsYV3fF0KuMMV2ZcLSJRvWMtObl1sBzv3iOhib
              N0tnWf/CRkT6ZLTcu44S9WtFvHf92vtfKI201c3X5fhK12BdOdlF6OU3l2oHoPeQ
              wwIDAQAB
              -----END PUBLIC KEY-----
      issuer: "https://c2id.com"


  logging:
    logstash: # Forward logs to logstash over a socket, used by LoggingConfig
      enabled: false
  security:
    actuator:
      password: easymsActuatorPass!


management.endpoints.web.exposure.include: "*"

---
spring:
  config:
    activate:
      on-profile: sample

spring.liquibase.contexts: data

---
spring:
  config:
    activate:
      on-profile: local

easyms:
  azure:
    activedirectory:
      tenant: ${easyms.sampleazure.aad.tenant}
      clientId: ${easyms.sampleazure.aad.clientId}
      appIdUri: ${easyms.sampleazure.aad.appIdUri}
      swaggerclientId: ${easyms.sampleazure.aad.swaggerclientId}
      swaggerscopes: ${easyms.sampleazure.aad.swaggerscopes}

---
spring:
  config:
    activate:
      on-profile: h2
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    url: jdbc:h2:mem:sdkdb;DB_CLOSE_DELAY=-1
    username: sdk
    password: secret
    driver-class-name: org.h2.Driver
  h2.console:
    enabled: true
    path: /h2-console

---
spring:
  config:
    activate:
      on-profile: base-test
  jpa:
    hibernate.ddl-auto: none
  h2.console.enabled: false

spring.liquibase.contexts: testData

---
spring:
  config:
    activate:
      on-profile: azure-vault

azure:
  keyvault:
    enabled: true
    uri: ${easyms.sampleazure.kv.uri}
    client-id: ${easyms.sampleazure.kv.client-id}
    tenant-id: ${easyms.sampleazure.tenant}
    client-key: ${easyms.sampleazure.kv.client-key}
    token-acquire-timeout-seconds: 60
    refresh-interval: 1800000

easyms.spring.cloud.azure.servicebus.credentials.file:
  clientId: ${kvsecret-azurebus-sp}
  clientSecret: ${kvsecret-azurebus-secret}
  subscriptionId: ${kvkvsecret-azurebus-subscription}

